    
.CSSTransition {
   
    &--fade{
        &-enter {
            opacity: 0;
        }
        &-enter-active {
            opacity: 1;
            transition: opacity 200ms;
        }
        &-exit {
            position: absolute;
            opacity: 0;
        }
        &-exit-active {
            opacity: 0;
            transition: opacity 200ms;
        }
    }
}