@import 'assets/scss/variables/__breakpoints.scss';

.Inscricoes{
    padding: 40px 0 60px 0;
    min-height: calc(100vh - 212px);
    width: 100vw;
    overflow: hidden;
    background-image: url(../../assets/images/backgrounds/home-hero.png);
    background-position: -40px -100px;
    background-size: cover;
    background-repeat: no-repeat;
    
    @media screen and (max-width: $bp-MD){
        min-height: calc(100vh - 182px);
        background-position: center center;
        background-position: 48% -50px;
        background-size: 120vh;
        padding: 20px 0 40px 0;
    }
}