@import 'assets/scss/variables/__all.scss';
@import 'assets/scss/util/__animations.scss';

.Cronograma__header{
    margin-bottom: 80px;

    @media screen and (max-width: $bp-MD){
        margin-bottom: 40px;
    }
    
    &__subtitle{
        font-size: 17px;
        color: $color-secondary;
        font-weight: lighter;
        text-transform: uppercase;
        margin-bottom: -5px;

        @media screen and (max-width: $bp-MD){
            font-size: 12px;
        }
    }

    &__title{
        font-size: 35px;
        font-weight: 800;
        color: #fff;
        text-transform: uppercase;
        margin: 0;
        text-shadow: 1.5px 1.5px 5px rgba(248, 143, 143, 0.14);

        @media screen and (max-width: $bp-MD){
            margin-top: 6px;
            font-size: 18px;
            line-height: 1
        }
    }

    &__anchors{
        color: #fff;
        margin: 2px 0;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;

        @media screen and (max-width: $bp-MD){
            margin: 4px 0;
            font-size: 11px;
        }

        label{
            margin-right: 6px;
        }

        &__item{
            cursor: pointer;
            @include transition();

            &:not(:last-child){
                margin-right: 5px;
            }

            &:hover{
                text-decoration: underline;
                color: $color-primary;
            }
        }
    }
}