@import 'assets/scss/variables/_all.scss';
@import 'assets/scss/util/_animations.scss';

.form-control{
    font-family: inherit;
    font-weight: lighter;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.637);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.041);
    color: rgb(172, 172, 172);
    letter-spacing: 0.4px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 44px;
    padding: 0 13px;
    border: 1.4px solid transparent;
    @include transition();

    &::placeholder{
        color: rgb(214, 214, 214);
    }

    &:focus{
        border-color: $color-secondary;

        & + label{
            color: $color-primary;
        }
    }
    
}

.form-group{
    margin-bottom: 15px;
    
    label{
        font-size: 15px;
        display: block;
        text-transform: uppercase;
        margin-bottom: 4px;
        color: rgb(146, 146, 146);
        font-weight: lighter;

        @media screen and (max-width: $bp-MD){
            font-size: 13px;
        }
    }

    &.is-valid{
        label{
            color: $color-success;
        }

        .form-control{
            border-color: $color-success;
            background-color: transparentize($color-success, 0.92)
        }
    }
    
    &.has-error{
        .form-control{
            border-color: $color-primary;
            background-color: transparentize($color-primary, 0.92)
        }

        label{
            color: $color-primary;
        }
    }
    .form-error{
        margin-top: 4px;
        display: block;
        color: $color-primary;
        font-size: 12px;
        font-weight: lighter;
        line-height: 1.2;
        
        @media screen and (max-width: $bp-MD){
            font-size: 10px;
        }
    }
}