@import 'assets/scss/util/__animations.scss';
@import 'assets/scss/variables/__all.scss';

@keyframes setSticky {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    z-index: 9;
    background-color: transparent;
    @include transition();

    @media screen and (min-width: 1150px) {
        padding: 5px 80px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__toggler {
        display: none;

        @media screen and (max-width: $bp-LG){
            display: block;
        }

        span {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background: #fff;
        }

        span+span {
            margin-top: 4px;
            width: 18px;
        }
    }

    &__brand {
        width: 120px;
        object-fit: contain;
        @include transition();

        @media screen and (max-width: $bp-MD){
            width: 90px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        @include transition();


        @media screen and (max-width: $bp-LG) {
            position: absolute;
            bottom: 5px;
            left: 0;
            flex-direction: column;
            width: 100vw;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transform: translateY(100%);
            background-color: $color-dark;
            padding-bottom: 60px;
            margin-top: -5px;
            pointer-events: none;
            
            &.active{
                pointer-events: all;
                max-height: 200vh;
                opacity: 1;
            }
        }

        &__item {
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: lighter;
            padding: 10px 20px;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            @include transition();

            &.active:not(.inscricoes),
            &:hover {
                text-shadow: 1px 0 0 #fff;
            }

            &.inscricoes {
                font-size: 15px;
                padding: 8px 29px;
                background-color: #fff;
                color: black;
                margin-left: 10px;
                box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.13);

                &.active,
                &:hover {
                    background-color: $color-primary;
                    color: #fff;
                    transform: scale(1.02);
                }

                span {
                    margin-left: 10px;
                    letter-spacing: -2px;
                    font-size: 14px;
                }
            }
        }
    }

    &.sticky {
        padding: 2px 0;
        background-color: $color-dark;
        box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.08);
        animation-name: setSticky;
        animation-duration: 0.6s;
        // background-image: url(../../../assets/images/backgrounds/home-hero.png);
        // background-size: 70%;
        // background-position: center center;
        // background-repeat: no-repeat;

        @media screen and (max-width: $bp-MD){
            padding: 0;
        }

        .Navbar__brand {
            width: 70px;
        }

        .Navbar__links {

            &__item {
                font-size: 15px;

                &.inscricoes {
                    font-size: 14px;
                    padding: 7px 20px;
                }
            }
        }
    }

}